.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;

  h1 {
      position: fixed;  
    top: 1%;
    left: 5%;
    color: white;
    font-size: 3rem;
    font-weight: 700;

    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: -0.02em;
  }
}